<link rel="import" href="../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../components/cells-image-card/cells-image-card.html">
<link rel="import" href="../../components/cells-product-card/cells-product-card.html">
<link rel="import" href="../../components/cells-product-item/cells-product-item.html">
<link rel="import" href="../../components/cells-date-input/cells-date-input.html">
<link rel="import" href="../../components/cells-movements-list-item/cells-movements-list-item.html">

<dom-module id="cells-home-ui">
  <template>
    <style include="cells-grid-template-styles"></style>
    <div class="cgt">

      <div class="cgt-col-sm-4 cgt-col-lg-6">
        <cells-image-card class="row" heading="{{userHome.displayName}}" heading-level="2" tags="Perfil de usuario" subheading="Cuenta Corriente"
          image-url="https://chittagongit.com//images/avatar-icon-images/avatar-icon-images-4.jpg" alt="Credit management"
          link-text="Profile">
          <div slot="card-content">
            <p>Datos de usuario 
          </p>
          <p>{{userHome.email}}</p>
          </div>
        </cells-image-card>
      </div>

      <cells-product-card 
      id="accountUser" 
      class="cgt-col-sm-4 cgt-col-lg-6"
      heading="Cuenta nómina" 
      heading-level="4" 
      balances="[[_getObjetcAccount(account.balance)]]"
      currency-code="MXN" 
      local-currency="MXN" 
      product-iban="{{account.idAccount}}" 
      min-width-for-row-layout="460">
      </cells-product-card>


      <h3 class="cgt-col-sm-12 cgt-col-lg-12">Productos asociados</h3>

      <template is="dom-repeat" items="{{products}}">
        <cells-product-item class="cgt-col-sm-6 cgt-col-lg-6" id="product" 
        description="[[_getObjetDescription(item.productID)]]"
        primary-amount="[[_getPrimaryAmount(item.productBalance)]]"
        name="{{item.productType}}" img-src="https://openapi.bbva.com/ccds/covers?pg=Z1&amp;BIN=553656&amp;default_image=true&amp;v=4&amp;width=360&amp;height=226&amp;country=es&amp;app_id=com.bbva.wallet&amp;issue_date=20141001&amp;country=cl"
        local-currency="MXN" 
        show-img-overlay 
        img-overlay-icon="coronita:on" 
        name-right-to-image
        on-click="_getDetail">
        
        </cells-product-item>
      </template>


    

     
    </div>

  </template>
  <script>
    class CellsHomeUi extends Polymer.Element {
      static get is() {
        return 'cells-home-ui';
      }
      static get properties() {
        return {
          userHome: {
            type: Object,
            value: function(){
              return {}
            }
          },
          account: {
            type: Object,
            value: function () {
              return {"idAccount":"",
              "balance":""
            }
            }
          },

          products: {
            type: Array,
            value: []
          }
        };
      }
      showDataUser(event){
       
        //{"$oid":"5bfcd5b4fb6fc04adc5bb7ea"},"userUID":"zu3SzLXfieTOTgkQvO8YY73FePG2","products":[{"productID":"zu3SzLXfieTOTgkQvO8YY73FePG2_TDD","productType":"TDD","status":"Active","productBalance":"40,000.00"},{"productID":"zu3SzLXfieTOTgkQvO8YY73FePG2_TDC-BLUE","productType":"TDC","status":"Active","productBalance":"0,000"}]}]
        this.userHome= JSON.parse(sessionStorage.getItem("userData"));
        let uidUser=event[0].userUID

        this.products=event[0].products;
        this.account={
                "idAccount": event[0]._id.$oid,
                "balance": parseFloat(event[0].balance)
              }         
      }

      _getObjetDescription(valor){
        return {'value': valor } 
      }
      _getObjetcAccount(amount){
        console.log(amount)
        return [{"label": "Disponible", "amount": amount}];
      }

      _getPrimaryAmount(productBalance){
        return {"label": "Available", "amount": parseFloat(productBalance), "currency": "MXN"}
      }
      _getDetail(event){
        
        this.dispatchEvent(new CustomEvent('get-detail-product', {
            bubbles: true,
            composed: true,
            detail: {"product":event.target.description.value}
        }));
        this.dispatchEvent(new CustomEvent('product-id', {
            bubbles: true,
            composed: true,
            detail: "Movimientos de tarjeta: "+event.target.description.value
            
        }));

      }


    }
    customElements.define(CellsHomeUi.is, CellsHomeUi);




  </script>
</dom-module>