<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="cells-movements-dm">
    <template>
        <cells-generic-dp id="myDPMovements" host="http://localhost:2018" path="" headers='{"Content-Type":"application/json"}'
            method="GET" on-request-success="_onRequestOk" on-request-error="_onRequestError">
        </cells-generic-dp>
    </template>
    <script>
        class CellsMovementsDm extends Polymer.Element {
            static get is() {
                return 'cells-movements-dm'
            }
            static get properties() {

            }
            getMovements(e) {
                if (!this.initialLoadHandled) {
                    this._doRequest(e);
                }
            }
            _doRequest(e){
                console.log(e);
                let data= JSON.parse(sessionStorage.getItem('userData'));
                let token=JSON.stringify(data.token)
                let paramToken= JSON.stringify({"q":{"token":token}})
                this.$.myDPMovements.path="api/accounts/"+data.uid+"/products/"+ e.product;
                this.$.myDPMovements.params={'q':token}
                this.$.myDPMovements.generateRequest();
            }
            _onRequestOk(event){
                this.dispatchEvent(new CustomEvent('movements-request-succes',{
                    bubbles:true,
                    composed: true,
                    detail: event.detail[1].products
                }))
                console.log(event.detail[1].products)
            }
            _onRequestError(error){
                this.dispatchEvent(new CustomEvent('movements-request-error', {
                    bubbles:true,
                    composed:true,
                    detail: error
                }));
             console.log("errro "+ error)   
            }

        }
        customElements.define(CellsMovementsDm.is, CellsMovementsDm)
    </script>
</dom-module>