#announcer {
  position: fixed;
  height: 0;
  overflow: hidden;
}
cells-template-paper-drawer-panel {
--cells-template-paper-drawer-panel-footer: {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(180, 192, 227, 1);
  z-index: 20;
}
}
