<link rel="import" href="../../components/cells-login-view/cells-login-view.html">
<link rel="import" href="../../components/cells-middle-modal/cells-middle-modal.html">

<dom-module id="cells-login-ui">
    <template>
        <style>
            body {
                margin: 0;
            }

            :host {
                --cells-login-view: {
                    height: 100vh;
                }
            }
        </style>
        <cells-login-view id="login" class="animated" allow-registration clear-id-icon="coronita:close" clear-pwd-icon="coronita:close"
            toggle-pwd-icon="coronita:visualize" toggle-pwd-icon-toggled="coronita:hide" start-icon="coronita:lock"
            end-icon="coronita:unlock" header-image="http://bbva-files.s3.amazonaws.com/cells/assets/glomo/images/access/bg-login.jpg">

        </cells-login-view>
        <cells-middle-modal id="modalWindow">
            <div class="body">
                <p>{{msg}}</p>
               
            </div>
        </cells-middle-modal>
    </template>
    <script>
        class cellsLoginUi extends Polymer.Element {
            static get is() {
                return 'cells-login-ui';
            }
            static get properties() {
                return {
                    msg: {
                        type: String,
                        value: ""
                    }
                }

            }
            loginError(e) {
                console.log("Error en login" + e.detail);
                this.msg=e
                this.$.modalWindow.open=true;
                this.$.login.loginError();
               
            }


        }
        customElements.define(cellsLoginUi.is, cellsLoginUi);
    </script>

</dom-module>