<link rel="import" href="../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../components/cells-movements-list-item/cells-movements-list-item.html">
<link rel="import" href="../../components/cells-date-input/cells-date-input.html">
<link rel="import" href="../../components/cells-st-button/cells-st-button.html">


<dom-module id="cells-movements-ui">
    <template>
        <style include="cells-grid-template-styles"></style>
        <div class="cgt">

            <h2 class="cgt-col-sm-6 cgt-col-lg-12">Filtrar movimientos por fecha</h2>
            <div class="cgt-col-sm-4 cgt-col-lg-4">
                <p>De:</p>
                <cells-date-input id="dateInit" format="DD MMMM YYYY" text="DE:" name="from" allow-past-date available-weekends value="{{de::input}}"></cells-date-input>
            </div>

            <div class="cgt-col-sm-4 cgt-col-lg-4">
                <p>
                    Hasta:
                </p>
                <cells-date-input id="dateEnd" format="DD MMMM YYYY" text="HASTA:" name="to" allow-past-date available-weekends value="{{hasta}}"></cells-date-input>
            </div>
            <div>
                <cells-st-button id="">
                    <button on-click="filterDate">Filtrar por fecha</button>
                </cells-st-button>
            </div>

            <div class="cgt-col-sm-8 cgt-col-lg-12">
                <hr />
                <h2 class="cgt-col-sm-6 cgt-col-lg-12">Movimientos</h2>
                <hr />
                <template is="dom-repeat" items="[[movements]]" filter="filterProject">
                    <cells-movements-list-item class="cgt-col-sm-6 cgt-col-lg-12" date="{{item.date}}" label="{{item.label}}"
                        description="{{item.description}}" parsed-amount='{"value": -1, "currency": "MXN"}'
                        parsed-acounting-balance='{"value": 13199.68, "currency": "MXN"}'>
                    </cells-movements-list-item>
                    <hr />
                </template>
            </div>
        </div>
    </template>
    <script>
        class CellsMovementsUi extends Polymer.Element {
            static get is() {
                return 'cells-movements-ui';
            }
            static get properties() {
                return {
                    idProduct: {
                        type: String,
                        value: ""
                    },
                    balance: {
                        type: Number,
                        value: 0
                    },
                    movements: {
                        type: Array,
                        value: []
                    },
                    dateFilterInit: {
                        type: String,
                        value:""

                    }

                }
            }
            getMovementsData(data) {
                data.find((element) => {
                    this.movements = element.movements;
                    this.idProduct = element.productID;
                    this.balance = element.productBalance;
                })
            }

            filterProject(item, de) {
                let inicialDate=this.$.dateInit.date;
                let finalDate=this.$.dateEnd.date;
                let dateItem= item.date.valueOf();
                
                console.log(inicialDate);
                console.log(finalDate);
                console.log(dateItem);
                if (!item) {
                    // set filter to null to disable filtering
                    return null;
                }else{
                    let vale=typeof inicialDate;
                    let vale1=typeof dateItem;

                    if(inicialDate < dateItem &&  finalDate > dateItem){
                        
                    console.log("Estos son las fechas", item.date)
                    return item;
                    }
                   
                    
                }
            }
            


        }

        customElements.define(CellsMovementsUi.is, CellsMovementsUi)
    </script>
</dom-module>

<!-- [{…}]
0:
movements: (2) [{…}, {…}]
productBalance: "0"
productID: "XfB1IWyQ9CXN8Ol48McA0b9X7Km1_TDC-BLUE"
productType: "TDC"
status: "Active"
__proto__: Object
length: 1
__proto__: Array(0) -->