<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">
<dom-module id="cells-home-dm">
<template>
<cells-generic-dp id="myDPHome" host="http://localhost:2018" path="" headers='{"Content-Type":"application/json"}'
method="GET" on-request-success="_onRequestOk" on-request-error="_onRequestError"
>
<cells-generic-dp id="myDPHLogout" host="http://localhost:2018" path="" headers='{"Content-Type":"application/json"}'
method="POST" on-request-success="_onRequestLogoutSuccess" on-request-error="_onRequestLogoutError"
>
</cells-generic-dp>
</template>
<script>
class CellsHomeDm extends Polymer.Element{
    static get is(){
        return 'cells-home-dm';
    }
    static get properties(){
        return{
            
        }
    }
    loadHome(){
        if (!this.initialLoadHandled) {
            this._doRequest();
          }
    }
    _doRequest(){
        let data= JSON.parse(sessionStorage.getItem('userData'));
        let token=JSON.stringify(data.token)
        let paramToken= JSON.stringify({"q":{"token":token}})
    
        this.$.myDPHome.path="api/accounts/"+data.uid;
        this.$.myDPHome.params={'q':token}
        this.$.myDPHome.generateRequest();
    }
    _onRequestOk(event){
       
        this.dispatchEvent(new CustomEvent('success-request-user-data', {
            bubbles: true,
            composed: true,
            detail: event.detail
          }));
         
    }
    _onRequestError(event){
        this.dispatchEvent(new CustomEvent('error-request-user-data', {
            bubbles: true,
            composed: true,
            detail: event.detail
          }));
    }
    logout(){
        let data= JSON.parse(sessionStorage.getItem('userData'));
        this.$.myDPHLogout.path="api/user/logout";
        this.$.myDPHLogout.body={"user":data.email}
        this.$.myDPHLogout.generateRequest();
    }
    _onRequestLogoutSuccess(event){
        debugger;
        sessionStorage.removeItem('userData');
        this.dispatchEvent(new CustomEvent('logout-success', {
            bubbles: true,
            composed: true
          }));
          event.stopPropagation();
    }
}
customElements.define(CellsHomeDm.is, CellsHomeDm);
</script>

</dom-module>