<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="cells-login-dm">
  <template>
    <cells-generic-dp id="myDP" host="http://localhost:2018" path="api/user/login" headers='{"Content-Type":"application/json"}'
      method="POST" on-request-success="_onRequestOk" on-request-error="_onRequestError">

    </cells-generic-dp>
  </template>
  <script>
    class CellsLoginDm extends Polymer.Element {
      static get is() {
        return 'cells-login-dm';
      }
      static get properties() {
        return {

        };
      }
      loginUser(e) {
        let bodyRequest = {
          "user": e.userId,
          "password": e.password
        };
        console.log(bodyRequest);
        this.$.myDP.body = bodyRequest;
        this.$.myDP.generateRequest();

        console.log(e);
      }

      _lastResponseNode(e) {
        console.log('evento' + e);
      }

      _onRequestOk(e) {
        console.log(e);
        if (e.detail !== null) {
          let userStore= JSON.stringify(e.detail);
          sessionStorage.setItem("userData", userStore);

          this.dispatchEvent(new CustomEvent('success-request-login', {
            bubbles: true,
            composed: true,
            detail: e.detail
          }));
          console.log("Login Correcto: " + JSON.stringify(e.detail));
        } else {
          this.dispatchEvent(new CustomEvent('error-request-login', {
            bubbles: true,
            composed: true,
            detail: e

          }));
        }
      }

      _onRequestError(e) {
        console.log("Login Incorrecto: " + JSON.stringify(e.detail.message));
        this.dispatchEvent(new CustomEvent('error-request-login', {
          bubbles: true,
          composed: true,
          detail: e.detail.message

        }));
      }

    }
    customElements.define(CellsLoginDm.is, CellsLoginDm);
  </script>
</dom-module>